.about-me {

    .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        opacity: .15;
        overflow: hidden;

        &__content {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        margin: 0 auto;
        padding: 0 1.6rem;
        text-align: center;
        width: 70%;

        .profile-header {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &__main {
                width: 30%;   
            }

            &__sub {
                width: 70%;
            }
        }

        .profile-photo {
            width: 150px;
            height: auto;
            transform: rotate(15deg);
        }
        
        p {
            font-size: 1.5rem;
        }
    }
}