@mixin respond($breakpoint) { 
    @if $breakpoint == phone {
       @media only screen and (max-width: 37.5em) { @content };   //600px
    }
    @if $breakpoint == tab-port {
       @media only screen and (max-width: 56.25em) { @content };    //900px
    }
    @if $breakpoint == tab-land {
       @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
       @media only screen and (min-width: 112.5em) { @content };    //1800px
    }
}

.bg-video {
    position: relative;
    // top: 0;
    // left: 0;
    height: 100vh;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}

.content {
    position: absolute;
    top: 100px;
    left:50%;
    margin-left: -400px;
    max-width: 800px;
    text-align: center;

    @include respond(tab-port) {
        margin-left: -300px;
        max-width: 600px;
    }

    @include respond(phone) {
        margin-left: -170px;
        max-width: 340px;
    }

    .profile-photo {
        width: 150px;
        height: auto;
        transform: rotate(15deg);
    }

    p {
        font-size: 1.5rem;
    }
}