@mixin respond($breakpoint) { 
    @if $breakpoint == phone {
       @media only screen and (max-width: 37.5em) { @content };   //600px
    }
    @if $breakpoint == tab-port {
       @media only screen and (max-width: 56.25em) { @content };    //900px
    }
    @if $breakpoint == tab-land {
       @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
       @media only screen and (min-width: 112.5em) { @content };    //1800px
    }
}

.about-me {

    .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        opacity: .15;
        overflow: hidden;

        &__content {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
        width: 70%;

        .profile-header {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &__main {
                width: 30%;   
            }

            &__sub {
                width: 70%;
            }

            @include respond(tab-land) {
                padding: 0 3px;
            }
        }

        .profile-photo {
            width: 150px;
            height: auto;
            transform: rotate(15deg);
        }
        
        p {
            font-size: 1.5rem;
        }
    }
}